.address__content{
    width: 50%;
    margin: 5vh auto;
}

.address__content--ttl{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.form__address-change{
    width: 100%;
}
.address-change__group{
    margin-top: 7vh;
}
.address-change__group--lbl{
    font-weight: bolder;
}
.address-change__group--input{
    width: 100%;
    padding: 1vh 1vw;
    border: 2px solid gainsboro;
}
.button__group{
    margin-top: 12vh;
}
.button__group--submit{
    width: 100%;
    font-size: large;
    color: white;
    font-weight: bolder;
    padding: 1vh 1vw;
    background-color: red;
    border: none;
}

.form__group--error{
    color: red;
}