.profile__content{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

/* サブタイトル */
.profile__ttl{
    text-align: center;
}

/* プロフィール画像 */
.image{
    display: flex;
}
.input__img{
    width: 10vw;
    border-radius: 50%;
}
.input__img--pic{
    display: block;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: gainsboro;
    object-fit: cover;
}
.input__file{
    margin: auto 0;
    margin-left: 3vw;
}
.input__file--dir{
    display: none;
}
.input__file--lbl{
    color: red;
    border-color: red;
    border-radius: 10px;
    padding: 1vh 1vw;
    border: 1px solid red;
}


/* ユーザー名・郵便番号・住所・建物名 */
.input__group{
    margin-top: 5vh;
    text-align: left;
}
.input__group--lbl{
    font-weight: bold;
}
.input__group--txt{
    padding: 1vh 1vw;
    width: 100%;
    border-radius: 5px;
}
.form__group--error{
    color: red;
}

/* 更新ボタン */
.button__group--submit{
    padding: 1vh 1vw;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-top: 5vh;
    border: none;
}